@import "./appVariables.scss";
@import "../../../styles/variables.scss";

.quiz-option-common {
    display: block;
    padding: .75rem;
    background: var(--bg-color-secondary);
    box-shadow: 0px 16px 40px 0px rgba(143, 160, 193, 0.14);
    border-radius: .75rem;
    margin-bottom: .75rem;

    &:last-child {
        margin-bottom: 0;
    }

    @include for-tablet-landscape-up {
        padding: 1.125rem 1.25rem;
        margin-bottom: 1.5rem;
        border-radius: 1.5rem;
    }

    &:focus, &:focus-visible {
        outline-color: $app-purple;
        outline-width: 4px;
    }

    &:hover {
        cursor: pointer;
    }
}

.quiz-summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color-secondary);
    border-radius: 0.75rem;
    box-shadow: 0px 16px 40px 0px rgba(143, 160, 193, 0.14);
    padding: 2rem;

    @include for-tablet-landscape-up {
        padding: 3rem;
        border-radius: 1.5rem;
    }

}

p.error-message {
    display: flex;
    justify-content: center;
    
    &.animate {
        animation: wiggle 75ms 3;
    }

    &.hidden {
        visibility: hidden;
    }
    
    img {
        margin-right: .5rem;
    }
    
    span {
        color: var(--text-color-error);
        line-height: 150%;
        font-size: 24px;

        @include for-phone-only {
            font-size: 18px;
        }
    }
}

@keyframes wiggle {
    0% { transform: translate(3px, 0); }
    50% { transform: translate(-3px, 0); }
    100% { transform: translate(3px, 0); }
}

.button-wrapper {
    display: flex;
    flex-direction: column;

    @include for-desktop-up {
        grid-row: 3;
        grid-column: 2;
    }
}

progress {
    width: auto;
}
progress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 10em;
    background: #fff;
    padding: 4px;
  }
  progress[value]::-webkit-progress-bar {
    border-radius: 10em;
    background: #fff;
  }
  progress[value]::-webkit-progress-value {
    border-radius: 10em;
    background: $app-purple;
  }
  progress[value]::-moz-progress-bar {
    border-radius: 10em;
    background: $app-purple;
  }

.app-font-display {
    font-size: 144px;
    line-height: 100%;
    font-weight: bold;
    color: var(--text-color-primary);

    @include for-phone-only {
        font-size: 88px;
    }
}

.app-font-heading-l {
    font-size: 64px;
    line-height: 100%;
    color: var(--text-color-primary);

    &.app-font-bold {
        font-weight: bold;
    }

    @include for-phone-only {
        font-size: 40px;
    }
}

.app-font-heading-m {
    font-size: 36px;
    line-height: 120%;
    color: var(--text-color-primary);

    &.app-font-bold {
        font-weight: bold;
    }

    @include for-phone-only {
        font-size: 20px;
    }
}

.app-font-heading-s {
    @include app-font-heading-s;
    color: var(--text-color-primary);
}

.app-font-body-s {
    font-size: 20px;
    line-height: 150%;
    font-weight: normal;
    color: var(--text-color-primary);

    @include for-phone-only {
        font-size: 18px;
    }
}

.app-font-body-m {
    font-size: 24px;
    line-height: 150%;
    font-weight: normal;
    color: var(--text-color-secondary);

    @include for-phone-only {
        font-size: 18px;
    }
}

.app-font-body-s-italic {
    font-size: 20px;
    line-height: 150%;
    font-weight: normal;
    font-style: italic;
    color: var(--text-color-secondary);

    @include for-phone-only {
        font-size: 14px;
    }
}

.light {
    --text-color-primary: #{$app-dark-navy};    
    --text-color-secondary: #{$app-grey-navy};
    --text-color-error: #{$app-red};
    --bg-color-primary: #{$app-light-grey};
    --bg-color-secondary: #fff;
    --bg-image-desktop: url('../assets/images/pattern-background-desktop-light.svg');
    --bg-image-tablet: url('../assets/images/pattern-background-tablet-light.svg');
    --bg-image-phone: url('../assets/images/pattern-background-mobile-light.svg');
}

.dark {
    --text-color-primary: #fff;
    --text-color-error: #fff;
    --text-color-secondary: #{$app-light-bluish};
    --bg-color-primary: #{$app-dark-navy};
    --bg-color-secondary: #{$app-navy};
    --bg-image-desktop: url('../assets/images/pattern-background-desktop-dark.svg');
    --bg-image-tablet: url('../assets/images/pattern-background-tablet-dark.svg');
    --bg-image-phone: url('../assets/images/pattern-background-mobile-dark.svg');
}