@import "../../../styles/variables.scss";

// FONTS
@font-face {
    font-family: "Rubic";
    src: local('Rubic'), url('../assets/fonts/static/Rubik-Regular.ttf'), format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: "Rubic";
    src: local('Rubic'), url('../assets/fonts/static/Rubik-Medium.ttf'), format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: "Rubic";
    src: local('Rubic'), url('../assets/fonts/static/Rubik-Italic.ttf'), format('truetype');
    font-style: italic;
}

@mixin app-font-heading-s {
    font-size: 28px;
    line-height: 100%;
    color: $app-grey-navy;

    &.app-font-bold {
        font-weight: bold;
    }

    @include for-phone-only {
        font-size: 18px;
    }
}

// COLORS
$app-purple: #A729F5;
$app-dark-navy: #313E51;
$app-navy: #3B4D66;
$app-grey-navy: #626C7F;
$app-light-bluish: #ABC1E1;
$app-light-grey: #F4F6FA;
$app-green: #26D782;
$app-red: #EE5454;
// icon bg colors
$app-light-purple: #F6E7FF;
$app-light-orange: #FFF1E9;
$app-light-green: #E0FDEF;
$app-light-blue: #EBF0FF;