@import "../../../styles/variables.scss";

// FONTS
@font-face {
    font-family: "Rubic";
    src: local('Rubic'), url('../assets/fonts/static/Rubik-Regular.ttf'), format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: "Rubic";
    src: local('Rubic'), url('../assets/fonts/static/Rubik-Medium.ttf'), format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: "Rubic";
    src: local('Rubic'), url('../assets/fonts/static/Rubik-Italic.ttf'), format('truetype');
    font-style: italic;
}

// COLORS
$app-purple: #A729F5;
$app-light-purple: #F6E7FF;
$app-dark-navy: #313E51;
$app-navy: #3B4D66;
$app-grey-navy: #626C7F;
$app-light-bluish: #ABC1E1;
$app-light-grey: #F4F6FA;
$app-green: #26D782;
$app-red: #EE5454;

// ICONS
$sun-icon: url('../assets/images/icon-sun-dark.svg');

// TEXT MIXINS
@mixin app-font-display {
    font-size: 144px;
    line-height: 100%;
    font-weight: bolder;

    @include for-phone-only {
        font-size: 88px;
    }
}

@mixin app-font-heading-l($font-weight: normal) {
    font-size: 64px;
    line-height: 100%;
    font-weight: $font-weight;
    color: $app-dark-navy;

    @include for-phone-only {
        font-size: 40px;
    }
}

@mixin app-font-heading-m($font-weight: bold) {
    font-size: 36px;
    line-height: 100%;
    font-weight: $font-weight;
    color: $app-dark-navy;

    @include for-phone-only {
        font-size: 20px;
    }
}

@mixin app-font-heading-s($font-weight: bold) {
    font-size: 28px;
    line-height: 100%;
    font-weight: $font-weight;
    color: $app-dark-navy;

    @include for-phone-only {
        font-size: 18px;
    }
}

@mixin app-font-body-s {
    font-size: 20px;
    line-height: 150%;
    font-weight: normal;
    color: $app-dark-navy;

    @include for-phone-only {
        font-size: 18px;
    }
}

@mixin app-font-body-s-italic {
    font-size: 20px;
    line-height: 150%;
    font-weight: normal;
    font-style: italic;
    color: $app-grey-navy;

    @include for-phone-only {
        font-size: 14px;
    }
}