@import "../styles/appVariables.scss";
@import "../../../styles/variables.scss";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    @include for-tablet-portrait-up {
        margin-bottom: 2.5rem;
    }

    @include for-desktop-up {
        margin-bottom: 5rem;
    }
}