@import "../../../styles/variables.scss";
@import "../styles/appVariables.scss";

.headingWrapper {
    display: flex;
    flex-direction: column;

    h1 {
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;

        @include for-desktop-up {
            margin-bottom: 3rem;
        }
    }
}