@import "../../../styles/variables.scss";
@import "../styles/appVariables.scss";

.heading {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;

    @include for-desktop-up {
        margin-bottom: 3rem;
    }
}