@import '../../../styles/variables.scss';

.pageContainer {
    display: flex;
    flex-direction: column;

    @include for-tablet-landscape-up {
        justify-content: space-between;
        flex-direction: row;
    }

    section {
        display: flex;
        flex-direction: column;
        width: 100%;

        @include for-desktop-up {
            width: 50%;
        }
    
        &:first-child {
            margin-bottom: 2.5rem;
    
            @include for-tablet-portrait-up {
                margin-bottom: 4rem;
                margin-right: 4rem;
            }
        
            @include for-desktop-up {
                width: 50%;
                margin-bottom: 0;
            }
        }
    }
}