@import '../../../styles/variables.scss';

.pageContainer {
    display: grid;

    @include for-desktop-up {
        grid-template-rows: auto auto auto;
        grid-template-columns: 50% 50%;
    }

    button {
        @include for-desktop-up {
            grid-row: 3;
            grid-column: 2;
        }
    }

    section {
        display: flex;
        flex-direction: column;
    
        &:first-child {
            margin-bottom: 2.5rem;
    
            @include for-tablet-portrait-up {
                margin-bottom: 4rem;
            }
        
            @include for-desktop-up {
                margin-bottom: 0;
                margin-right: 4rem;
            }
        }
    }
}