@import '../styles/appVariables.scss';

.imageWrapper {
    min-height: 2.5rem;
    min-width: 2.5rem;
    border-radius: 20%;
    margin-right: 1rem;
    display: flex;

    img {
        margin: 15%;
        @include for-phone-only {
            max-width: 1.8rem;
        }
    }

    span {
        margin: auto;
        @include app-font-heading-s;
    }

    @include for-tablet-portrait-up {
        min-height: 3.5rem;
        min-width: 3.5rem;
        margin-right: 1.5rem;
    }
}

.accessibility {
    background-color: $app-light-purple;
}
.html {
    background-color: $app-light-orange;
}
.css {
    background-color: $app-light-green;
}
.javascript {
    background-color: $app-light-blue;
}