:root {
    --text-color-primary: black;
    --text-color-secondary: black;
    --bg-color-primary: white;
    --bg-color-secondary: white;
    --bg-image-desktop: url('./logo.svg');
    --bg-image-tablet: url('./logo.svg');
    --bg-image-phone: url('./logo.svg');
}